@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Raleway:wght@400;500;600;700;900&display=swap');
html,
body {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#__next {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.123);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.123);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.137);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.primary-color {
  color: #1a86ae;
}

Button{
  cursor: pointer;
}

.active-drop-zone {
  background-color: var(--chakra-colors-gray-300);
}
